@if(!loading()) {
<div class="h-full w-full flex justify-center items-center">
  <div class="w-full max-w-3xl mx-auto p-8 bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <h2 class="text-center text-2xl font-bold mb-6 text-gray-800 dark:text-white">Game Setup</h2>

    <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="difficulty" class="block text-sm font-semibold mb-2 text-gray-600 dark:text-gray-300"
          >Select Difficulty Level</label
        >
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
          <button
            type="button"
            (click)="setDifficulty('EASY')"
            [ngClass]="{
              'bg-indigo-500 text-white': currentDifficulty() === 'EASY',
              'bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600':
                currentDifficulty() !== 'EASY'
            }"
            class="w-full p-2 rounded-lg shadow"
          >
            Easy
          </button>
          <button
            type="button"
            (click)="setDifficulty('MEDIUM')"
            [ngClass]="{
              'bg-indigo-500 text-white': currentDifficulty() === 'MEDIUM',
              'bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600':
                currentDifficulty() !== 'MEDIUM'
            }"
            class="w-full p-2 rounded-lg shadow"
          >
            Medium
          </button>
          <button
            type="button"
            (click)="setDifficulty('HARD')"
            [ngClass]="{
              'bg-indigo-500 text-white': currentDifficulty() === 'HARD',
              'bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600':
                currentDifficulty() !== 'HARD'
            }"
            class="w-full p-2 rounded-lg shadow"
          >
            Hard
          </button>
        </div>
      </div>
      <div class="mb-6">
        <label for="difficulty" class="block text-sm font-medium text-gray-600 dark:text-gray-300"
          >Current Difficulty:</label
        >
        <p class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{ currentDifficulty() }}</p>
      </div>
      <div class="space-y-4">
        <div>
          <label for="rows" class="block text-sm font-medium text-gray-600 dark:text-gray-300">Rows</label>
          <input
            type="number"
            id="rows"
            formControlName="rows"
            min="8"
            max="24"
            (change)="onFormUpdate()"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
          />
        </div>

        <div>
          <label for="columns" class="block text-sm font-medium text-gray-600 dark:text-gray-300">Columns</label>
          <input
            type="number"
            id="columns"
            formControlName="columns"
            min="8"
            max="24"
            (change)="onFormUpdate()"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
          />
        </div>

        <div>
          <label for="minesCount" class="block text-sm font-medium text-gray-600 dark:text-gray-300">Mines</label>
          <input
            type="number"
            id="minesCount"
            formControlName="minesCount"
            min="1"
            max="99"
            (change)="onFormUpdate()"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
          />
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!isFormChanged() || setupForm.invalid"
        class="mt-6 w-full bg-indigo-600 dark:bg-indigo-500 hover:bg-indigo-700 dark:hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 transition duration-300 ease-in-out disabled:bg-gray-400 disabled:dark:bg-gray-600 disabled:cursor-not-allowed disabled:hover:bg-gray-400 disabled:dark:hover:bg-gray-600"
      >
        Update
      </button>
    </form>
  </div>
</div>
} @else {<app-spinner />}
